* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background: #F0F2F5;
}

nav {
    width: 100%;
    height: 7vw;
    background: linear-gradient(125deg, #183f2f, #192019);
}

.nav_container {
    max-width: 90vw;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.stdeberUser{
    width: 18%;
    min-height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    font-size: 1.0vw;
   /* background: #2a0e59;*/
   border-right: solid 2px #fcf8f8;
   box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  /* border-bottom: solid 3px #1e2d15;*/

}
.stdeber-items{
    background-image: linear-gradient(-45deg, #141714, #2a552a);
    margin-bottom: 4px;
    padding: 0.9rem 1.0rem;
    border-radius: 15px;
    border: 1px solid #569a56(216, 208, 208);
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.stdeber-items:hover{
    background-image: linear-gradient(-45deg, #a0b9a0, #274f27);
    color: white;
    border: 4px solid  #d7e0d7;
}
.stdeberUser p {
    text-align: left;
    padding: 0 20px;
    color: #585c58;
    font-size: 19px;

}

.btn-danger{
    font-size: 1vw;
    color: white;
    background-color: #3f883f;
    border-color: #f7f7f7;
    border-radius: 15px;
}
.btn-danger:hover {
    background: #569a56;
    color: white;
    border: 1px solid #3f883f;
}
.card {
    max-width: 210px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    border: 1px solid rgba(255, 255, 255, .25);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(15px);
}

.btn-danger {
    color: #fff;
    background-color: #1a6c17;
    border-color: #356e2f;
}


.button-30 {
  align-items: center;
  appearance: none;
  background-color: #f7f6f6;
  border-radius: 10px;
  border-width: 0;
  box-sizing: border-box;
  color: #413f3f;
  cursor: pointer;
  display: inline-flex;
  height: 35px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 15px;
}

.button-30:focus {
  box-shadow: #ebebeb 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
  color: #111111;
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

.crud1{
  padding: 0 20px 0 15px;
  height: 4vw;
}

.col-md-12 {
    padding: 0 20px 10px 10px;
    height: 100vh;
}

.userUP{
    width: 100%;
  
}
.conta{
    height: 100vh;
}
